<div class="container mt-5" >
    <form action="" class="form-group">
        <input class="form-control" placeholder="Busque un producto por su nombre..." type="text">
    </form>
    <button class="btn btn-primary" routerLink="/agregar-productos">Agregar Producto Nuevo</button>
    <div class="row">
        <div class="col-sm-3 mt-4" >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Codigo</h6>
                    <p class="card-text">Descripción</p>
                    <a href="#" class="card-link">Agregar</a>
                    <a href="#" class="card-link">Eliminar</a>
                </div>
            </div>
        </div>    
    </div>
</div>    
